<div class="col-sm-3">
    <div class="list-group">
        <a id="mnuInscriptions" class="list-group-item" href="@Url.Action("Index", "EspacePerso")"><i class="fa fa-calendar-o fa-fw" aria-hidden="true"></i>&nbsp; Inscriptions</a>
        <a id="mnuResultats" class="list-group-item" href="@Url.Action("AffichageResultats", "EspacePerso")"><i class="fa fa-trophy fa-fw" aria-hidden="true"></i>&nbsp; Résultats</a>
        <a id="mnuDonneesPerso" class="list-group-item" href="@Url.Action("DonneesPerso", "EspacePerso")"><i class="fa fa-address-card-o fa-fw" aria-hidden="true"></i>&nbsp; Données personnelles</a>
    </div>
</div>
